* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.options-cont {
    height: 5rem;
    width: 5rem;
    background-color: red;
    position: absolute;
    top: 2rem;
    left: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #dfe4ea;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 2rem;
}

.tools-cont {
    width: 5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: red;
    background-color: #dfe4ea;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0.5rem;
    position: absolute;
    top: 20vh;
    left: 2rem;
    transform: translateX(0rem);
    transition: all 500ms ease-in-out;
}

.tools-cont > * {
    margin: 1rem;
}

.pencil-tool-cont {
    width: 8rem;
    height: 5rem;
    background-color: #dfe4ea;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0.5rem;
    position: absolute;
    top: 20vh;
    left: 7.5rem;
    display: none;
}

.pencil-width-cont {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pencil-width-cont input {
    width: 80%;
}

.pencil-color-cont {
    height: calc(100% - 2rem);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pencil-color-cont > * {
    cursor: pointer;
}

.pencil-color {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.black {
    background-color: black;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.eraser-tool-cont {
    width: 8rem;
    height: 2rem;
    background-color: #dfe4ea;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0.5rem;
    position: absolute;
    top: calc(20vh + 6.5rem);
    left: 7.5rem;
    display: none;
    align-items: center;
    justify-content: center;
}

.eraser-tool-cont input {
    width: 80%;
}

.sticky-cont {
    height: 15rem;
    width: 15rem;
    position: absolute;
    top: calc(20vh + 15rem);
    left: 7.5rem;
}

.header-cont {
    height: 2rem;
    background-color: #dfe4ea;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 0.5rem 0.5rem 0 0;
}

.header-cont > * {
    width: 1rem;
    height: 1rem;
    padding: 0.8rem;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9e9e9;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 50%;
    cursor: pointer;
}

.minimize {
    font-size: 1rem;
}
.remove {
    font-size: 1.4rem;
}

.note-cont {
    height: calc(100% - 2rem);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0 0 0.5rem 0.5rem;
}

textarea {
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    resize: none;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
}

img {
    width: 100%;
    height: 100%;
}

input {
    cursor: pointer;
}
